<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>clazz</key>
		<string>HYJKCController</string>
		<key>name</key>
		<string>即开彩票</string>
	</dict>
	<dict>
		<key>clazz</key>
		<string>HYGifController</string>
		<key>name</key>
		<string>gif 动画</string>
	</dict>
	<dict>
		<key>clazz</key>
		<string>HYImageLoopController</string>
		<key>name</key>
		<string>广告循环图片</string>
	</dict>
	<dict>
		<key>clazz</key>
		<string>HYTableDrapController</string>
		<key>name</key>
		<string>Table下拉样式</string>
	</dict>
	<dict>
		<key>image</key>
		<string>luck_entry_roulette_button_normal</string>
		<key>clazz</key>
		<string>HYLuckLoopController</string>
		<key>name</key>
		<string>梦想大转盘</string>
	</dict>
	<dict>
		<key>image</key>
		<string>luck_entry_birthday_button_normal</string>
		<key>clazz</key>
		<string>HYChooseNumberController</string>
		<key>name</key>
		<string>生日选号仪</string>
	</dict>
	<dict>
		<key>clazz</key>
		<string>HYYaoQianController</string>
		<key>name</key>
		<string>无敌上上签</string>
	</dict>
	<dict>
		<key>clazz</key>
		<string>HYLFTController</string>
		<key>name</key>
		<string>立方体旋转</string>
	</dict>
</array>
</plist>
